.see-ui {
    width: 1280px;
    height: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 6px solid #5b2b1d;
    border-radius: 25px;
    margin: 40px;
}