* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#ui-wrap {
  display: grid;
  grid-template-rows: repeat(3, 160px);
  grid-template-columns: repeat(2, 350px);
  gap: 20px;
}

#ui-wrap a:nth-child(1) {
  grid-column: span 2;
}

#ui-wrap a {
  color: inherit;
  font-size: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #5d1b1a;
  height: 160px;
}

#ui-wrap a:hover {
  background-color: #763535;
  transition: 0.3s;
}


i {
  padding-right: 20px;
  font-size: 50px;
}